<div class="center">
    <h1>Sandbox</h1>
</div>

<div class="px1">

    <div class="image-text-container text-container sandbox-container p2 mb3">
        <div class="image">
            <a href="https://developer.mozilla.org/en-US/docs/Web/API/Canvas_API" target="_blank">
                <img class="small" src="../../assets/images/html5.png">
            </a>
        </div>
        <div class="text">
            <div class="size-20 weight-400">HTML Canvas</div>
            <div>
                <ul>
                    <li><a class="standard-link" routerLink="/sandbox/fireworks">Fireworks</a></li>
                    <li><a class="standard-link" routerLink="/sandbox/particles">Particles</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="image-text-container text-container sandbox-container p2 mb3">
        <div class="image">
            <a href="http://wellcaffeinated.net/PhysicsJS/" target="_blank">
                <img class="small" src="../../assets/images/physicsjs.png">
            </a>
        </div>
        <div class="text">
            <div class="size-20 weight-400">Physics JS</div>
            <div>
                <ul>
                    <li><a class="standard-link" routerLink="/sandbox/physicsIntro">PhysicsJS Intro</a></li>
                    <li><a class="standard-link" routerLink="/sandbox/particlesTwo">Particles Two</a></li>
                    <li><a class="standard-link" routerLink="/sandbox/solarSystem">Solar System</a></li>
                    <li><a class="standard-link" routerLink="/sandbox/bridge">Bridge</a></li>
                    <li><a class="standard-link" routerLink="/sandbox/carSim">Angular Acceleration</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="image-text-container text-container sandbox-container p2 mb3">
        <div class="image">
            <a>
                <img class="small" src="../../assets/images/other-development.png">
            </a>
        </div>
        <div class="text">
            <div class="size-20 weight-400">Other Development</div>
            <div>
                <ul>
                    <li><a class="standard-link" routerLink="/sandbox/montyHall">Monty Hall Paradox</a></li>
                </ul>
            </div>
        </div>
    </div>

</div>

<div class="mt4">
    <rr-footer></rr-footer>
</div>
