<div class="footer center">
    <div class="flex justify-center items-center py3">
        <div class="footer-image-wrapper flex justify-around items-center">
            <div class="footer-image">
                <a href="https://angular.io/" target="_blank">
                    <img class="small centered image" src="../../assets/images/angular.png">
                </a>
            </div>
            <div class="footer-image">
                <a href="https://foundation.zurb.com/" target="_blank">
                    <img class="small centered image" src="../../assets/images/yeti.svg">
                </a>
            </div>
            <div class="footer-image">
                <a href="https://webpack.js.org/" target="_blank">
                    <img class="small centered image" src="../../assets/images/webpack.png">
                </a>
            </div>
        </div>
    </div>
    <div class="copyright">
        Made by Ryan Rasmussen &copy; 2017
    </div>
</div>
