<div class="banner center p4">
    <div class="name mb3">Ryan Rasmussen</div>
    <div class="title mb1">Software Engineer</div>
    <div class="location mb2">Papillion, Nebraska</div>
    <div>
        <a class="inline-block mr1" href="http://www.linkedin.com/in/ryanrasmussen05" target="_blank">
            <span class="button">LinkedIn</span>
        </a>
        <a class="inline-block" href="https://github.com/ryanrasmussen05" target="_blank">
            <span class="button secondary">GitHub</span>
        </a>
    </div>
</div>

<div class="text-container">
    <h2>About</h2>
    <div class="mb2">
        I am a full-stack web developer and a mobile developer in my spare time. I built this site using
        <b>Angular (2+) with TypeScript</b>, <b>Foundation 6</b>, and <b>Angular CLI / Webpack</b>
        as a way to stay up-to-date on the latest browser technologies, and as a sandbox for learning to use various
        libraries.
    </div>
    <button class="button" routerLink="/resume">Resume</button>
</div>

<div class="divider my3"></div>

<img class="image medium centered" src="../../assets/images/rhino_logo-teal.png">

<div class="text-container">
    <h2>Mobile Development</h2>
    <div class="mb3">
        I publish apps to Google Play under the developer name <b>Rhino Development</b>, and currently have one app in
        the
        Apple App Store written for <b>Strategic Air Command & Aerospace Museum</b>.
    </div>

    <div class="image-text-container my3" *ngFor="let mobileApp of mobileApps">
        <div class="image">
            <img class="small" [src]="getImage(mobileApp.image)">
        </div>
        <div class="text">
            <span class="title-text mr1">{{ mobileApp.title }}</span>

            <a *ngIf="mobileApp.androidUrl" [href]="mobileApp.androidUrl" target="_blank" class="standard-link mr1">Android</a>
            <a *ngIf="mobileApp.appleUrl" [href]="mobileApp.appleUrl" target="_blank" class="standard-link mr1">iOS</a>

            <div>
                <p>{{ mobileApp.description }}</p>
            </div>
        </div>
    </div>
</div>

<div class="divider my3"></div>

<div class="text-container">
    <h2>Sandbox</h2>
    <div class="mb2">
        This is the area I use to store various components I create while learning new/interesting libraries.
    </div>
    <button class="button" routerLink="/sandbox">Sandbox</button>
</div>

<div class="mt4">
    <rr-footer></rr-footer>
</div>
