<div class="full-width full-height flex flex-column" (click)="hideMenu()">
  <div class="menu-bar flex-none flex justify-between items-center px2">

    <div>
      <div class="button dropdown-button relative mr2" (click)="toggleMenu($event)">
        <div><i class="fi-list size-20"></i></div>
        <div *ngIf="showMenu" class="dropdown-content size-24 weight-500">
          <div class="p2" routerLink="/home">Home</div>
          <div class="divider"></div>
          <div class="p2" routerLink="/resume">Resume</div>
          <div class="divider"></div>
          <div class="p2" routerLink="/sandbox">Sandbox</div>
        </div>
      </div>
      <span routerLink="/home" class="page-title nowrap">Ryan Rasmussen</span>
    </div>

    <div class="flex nav-buttons">
      <button routerLink="/home" routerLinkActive="active">Home</button>
      <button routerLink="/resume" routerLinkActive="active">Resume</button>
      <button routerLink="/sandbox" routerLinkActive="active">Sandbox</button>
    </div>
  </div>
  <div class="flex-auto full-height">
    <router-outlet></router-outlet>
  </div>
</div>
